.modalForm {
    position:fixed;
    background-color:rgba(0, 0, 0, 0.567);
    top:0;
    height:100vh;
    left:0;
    right:0;
    place-content:center;
    display:none;
}

.activeForm {
    display:grid;
}

.modalForm_form {
    background-color: white;
    padding:20px;
    position:relative;
    width:300px;
    display:flex;
    flex-direction: column;
    gap:20px;
    border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
}

.modalForm_title {
    font-size:20px;
    margin:10px 0;
}

.modalForm_x {
    position:absolute;
    top:0;
    right:0;
    font-size:25px;
    cursor:pointer;

}

.modalForm_x:hover {
    color:red;
   
}
.modalForm_label {
    display:block;
}

.modalForm_div {
    line-height: 30px;;
}

.modalForm_input {
    width:100%;
    padding:8px;
    outline:none;
    font-family: var(--principal-font);
}

.modalForm_btn {
    background-color: blue;
    border:none;
    color:white;
    padding:10px;
    font-size: 18px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor:pointer;
    transition:background 200ms ease;
    -webkit-transition:background 200ms ease;
    -moz-transition:background 200ms ease;
    -ms-transition:background 200ms ease;
    -o-transition:background 200ms ease;
}

.modalForm_btn:hover {
    background-color: #1b9af5;
}

