.navbar {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    align-items: center;
    gap: 10px;
    background: rgb(59, 111, 255);
    margin: 5px 20px;
}

.navbar_title {
    font-size: 24px;
    margin: 0;
    color: white;
}

.navbar_btn {
    background-color: #567899;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    transition: background 200ms ease;
    -webkit-transition: background 200ms ease;
    -moz-transition: background 200ms ease;
    -ms-transition: background 200ms ease;
    -o-transition: background 200ms ease;
}

.navbar_btn:hover {
    background: #3a93ec;
}