.navbar {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    align-items: center;
    gap: 10px;
    background: #fe9393;

}

.navbar_title {
    font-family: var(--principal-font);
    font-size: 24px;
    margin: 0;
    color: white;
}

.navbar_btn {
    background-color: #df8686;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    transition: background 200ms ease;
    -webkit-transition: background 200ms ease;
    -moz-transition: background 200ms ease;
    -ms-transition: background 200ms ease;
    -o-transition: background 200ms ease;
}

.navbar_btn:hover {
    background: #fd6b6b;
}